language: php

php:
  - 5.6

branches:
  only:
  - master
  - development


addons:
    apt:
        packages:
            - sshpass


before_script:
  - php SourceBackend/laravel/artisan key:generate # Porque genera error con un Key
  - mysql -e 'create database goodfirm_entregas;'
  - mysql goodfirm_entregas < goodfirm_entregas.sql
  #- mysql -u root -e "CREATE USER 'goodfirm_usuario'@'localhost' IDENTIFIED BY ',eE_qW$Sh5KR';"
  #- mysql -u root -e "GRANT ALL PRIVILEGES ON \`goodfirm_entregas\`.* TO goodfirm_usuario@localhost IDENTIFIED BY ',eE_qW$Sh5KR';"
  #- mysql -u root -e "FLUSH PRIVILEGES;"

script:
- SourceBackend/laravel/vendor/bin/phpunit SourceBackend/laravel/tests/UnitTest
- SourceBackend/laravel/vendor/bin/phpunit SourceBackend/laravel/tests/IntegrationTest

after_success:
<<<<<<< HEAD
  #- git clone https://github.com/entregascontinuas/loencontre.co.git
  #- cd loencontre.co
  #- git config --global user.email "entregascontinuas@gmail.com"
  #- git config --global user.name "entregascontinuas"
  #- git checkout development 
  #- git merge origin/travis-development -m "Integración desde Rama development"
  #- git remote set-url origin https://entregascontinuas:entregascontinuas1@github.com/entregascontinuas/loencontre.co.git
  #- git push origin development
=======
  - git clone https://github.com/entregascontinuas/loencontre.co.git
  - cd loencontre.co
  - git config --global user.email $EMAIL_GITHUB
  - git config --global user.name $USER_GITHUB
  - git checkout development 
  - git merge origin/travis-integration -m "Integración desde Travis CI"
  - git add .
  - git commit -m "Integración desde Travis CI"
  - git remote set-url origin https://$USER_GITHUB:$PASS_GITHUB@github.com/entregascontinuas/loencontre.co.git
  - git push origin development
  # Deploy Server - ssh
  - sshpass -p $PASS_DEPLOY_SERVER ssh $USER_DEPLOY_SERVER@$IP_DEPLOY_SERVER -o StrictHostKeyChecking=no "./deploy.sh"
>>>>>>> origin/travis-integration

notifications:
  email:
    recipients:
      - alvaro.hernandez01@uptc.edu.co
      - andresmauriciogomezr@gmail.com
      - larryportocarrero@gmail.com
    on_success: always # default: change
    on_failure: always # default: always
