<!DOCTYPE HTML>
<html lang="es" ng-app="mainModule">
<head>
	<title>Clasificacion persona</title>
	<meta charset="utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="https://rawgithub.com/GoDisco/ngFacebook/master/ngFacebook.js"></script>

	<script src="angular/main.js"></script>


</head>
<body ng-controller="controller">
	<h1>Filtro de texto</h1>
	<br>
	<br>
	<input type="text" ng-model="img">
	<button ng-click="main()">Detectar</button>
	<br>
	<br>
	<img ng-src="{{l}}" width="300px" height="400px"/>
	<div>
		<h1>Texto Microsoft:</h1>
		<br>
		{{txtMicrosoft}}	
		<br>
		<h1>Texto filtrado:</h1>
		<br>
		{{filterMicrosoft}}
		<h1>Probabilidad de certeza:</h1>
		{{probabilityName}}
	</div>

</body>
</html>
