#drop-zone {
    /*Sort of important*/
    width: 300px;
    /*Sort of important*/
    height: 60px;
    position:absolute;
    left:50%;
    margin-left:-150px;    
    font-family: Arial;
    text-align: center;
    position: relative;
    line-height: 20px;
    font-size: 12px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px dashed #ccc;
    color: #555;
    /*color: rgba(0,0,0,.3);*/
}

    #drop-zone input {
        
        /*Important*/
        position: absolute !important;
        /*Important*/
        cursor: pointer;
        left: 0px;
        top: 0px;
        /*opacity:0;*/
    }

    /*Important*/
    #drop-zone.mouse-over {
        border-color: #00D3B7;
        color: #00D3B7;
    }


/*If you dont want the button*/
#clickHere {
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 5%;
    margin-left: -50px;
    margin-top: 20px;
    line-height: 26px;
    color: white;
    font-size: 12px;
    width: 100px;
    height: 26px;
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px #ccc;
    color: #555;

}

    #clickHere:hover {
        border-color: #00D3B7;
        color: #00D3B7;
    }